MONGODB_URI=your_mongo_db_uri
JWT_SECRET=your_jwt_secret
PORT=8000
PASSWORD=your_app_password_for_email
EMAIL=your_gmail_email
BACKEND_URL=http://localhost:8000/api/v1
FRONTEND_URL=http://localhost:5173
PRODUCTION=false
VITE_APP_BACKEND_URL=http://localhost:8000/api/v1
VITE_APP_SOCKET_URL=http://localhost:8000
